/.idea/
/slogs/
/reprex/SampleSplits/
/results/
/dcan/runs/
/dcan/.ipynb_checkpoints/
/reprex/SampleSplits_MMSE/
/reprex/alex_net-*.err
/reprex/alex_net-*.out
/data/ABCD/
/dcan/data-unversioned/cache/
/inspection/
/SampleSplits_MMSE/
/data-unversioned/
/runs/p2ch11/
/runs/p2ch11/2022-04-25_13.55.13-trn_cls-dwlpt/
/src/dcan/alex-net-training-12456699.err
/src/dcan/alex-net-training-12456699.out
/runs/
